/*Introduction*/
main {
    display: flex;
    max-width: 85%;
    height: 90vh;
    margin: 0 auto;
}
.brands-intro {
    position: relative;
    width: 40%;
}
.brands-intro img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.brands-text {
    color: #fff;
    position: absolute;
    padding: 20px;
    top: 0;
}
.brands-text hr {
    width: 35px;
}
.brands {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: right;
    height: 450px;
}
.brand {
    padding: 20px;
}

.brand img {
    max-width: 220px;
    height: 135px;
    object-fit: contain;
}
.brand p {
    text-align: center;
}